node_modules/
dist/
dashboard/dist/
*.db
*.log
.env
*.iso
*.img
*.deb
*.udeb
pool/
pool-udeb/
dists/
live/
EFI/
boot/
isolinux/
tools/
waveterm/
hexstrike-ai/
lms/
opencode/
gemini-cli/
gemini-desktop/
security-audit-agent/
Kali\ IDE/
.disk/
md5sum.txt
sha256sum.txt
